html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 60rem;
  height: 30rem;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 10px;
  }
  .main {
    width: 30rem;
    height: 45rem;
  }
}
