html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.main {
  width: 60rem;
  max-height: 30rem;
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 8px;
  }
  .main {
    width: 30rem;
    max-height: 45rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
  html,
  body {
    font-size: 16px;
  }
  .main {
    width: 40rem;
    max-height: 40rem;
  }
}
